.welcomeUname{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-family: aria,sans-serif;
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 10px;
    background-color: aqua;
    position: relative;
    left: 250px;
}
.welcomeText{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-family: aria,sans-serif;
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 10px;
    background-color: red;
    position: relative;
    left: 250px;
}